<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Notre École</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link href="/css/main.css" rel="stylesheet">

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/umd/popper.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <script src="/webjars/vue/vue.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script src="/js/ecole.js"></script>
    <script src="/js/VueComponents.js"></script>
    <script src="/js/WebSocketUtils.js"></script>
</head>
<body>
<div id="app">
    <app-nav v-bind:user="user" current-page="ecole">
    </app-nav>
    <div>
        <h3>Venerables</h3>
        <hr/>
        <ul>
            <app-membre-ecole v-for="venerable in venerables" v-bind:utilisateur="venerable"></app-membre-ecole>
        </ul>
    </div>
    <div>
        <hr/>
        <h3>Sensei</h3>
        <hr/>
        <ul>
            <app-membre-ecole v-for="sensei in senseis" v-bind:utilisateur="sensei"></app-membre-ecole>
        </ul>
    </div>
    <div>
        <hr/>
        <h3>Ancien</h3>
        <hr/>
        <ul>
            <app-membre-ecole v-for="ancien in anciens" v-bind:utilisateur="ancien"></app-membre-ecole>
        </ul>
    </div>
    <div>
        <hr/>
        <h3>Nouveau</h3>
        <hr/>
        <ul>
            <app-membre-ecole v-for="nouveau in nouveaux" v-bind:utilisateur="nouveau"></app-membre-ecole>
        </ul>
    </div>
</div>
</body>
</html>