<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Notre École</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link href="/css/main.css" rel="stylesheet">

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/umd/popper.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <script src="/webjars/vue/vue.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script src="/js/ecole.js"></script>
    <script src="/js/VueComponents.js"></script>
    <script src="/js/WebSocketUtils.js"></script>
</head>
<body>
<div id="app">
    <app-nav v-bind:user="user" current-page="ecole">
    </app-nav>
    <div v-if="venerables && venerables.length == 0">
        <h3>Venerable</h3>
        <hr/>
        <ul>
            <app-membre-ecole class="d-inline-block" v-for="venerable in venerables" v-bind:utilisateur="venerable"></app-membre-ecole>
        </ul>
    </div>
    <div v-if="deshonorables && deshonorables.length == 0">
        <h3>Section de la honte</h3>
        <hr/>
        <ul>
            <div v-for="honteux in deshonorables">
                <app-membre-ecole class="d-inline-block" v-bind:utilisateur="honteux"></app-membre-ecole>
                <button class="btn btn-danger d-inline-block" v-if="user && (user.role.role == 'Venerable' || user.role.role == 'Sensei')" v-on:click="supprimer(honteux.id)">
                    Expulser du dojo
                </button>
            </div>
        </ul>
    </div>
    <div v-if="senseis && senseis.length == 0">
        <h3>Senseis</h3>
        <hr/>
        <ul>
            <app-membre-ecole class="d-inline-block" v-for="sensei in senseis" v-bind:utilisateur="sensei"></app-membre-ecole>
        </ul>
    </div>
    <div v-if="anciens && anciens.length == 0">
        <h3>Ancien</h3>
        <hr/>
        <ul>
            <div v-for="ancien in anciens">
                <app-membre-ecole class="d-inline-block" v-bind:utilisateur="ancien"></app-membre-ecole>
                <button class="btn btn-danger d-inline-block" v-if="user && (user.role.role == 'Venerable' || user.role.role == 'Sensei')" v-on:click="supprimer(ancien.id)">
                    Expulser du dojo
                </button>
            </div>
        </ul>
    </div>
    <div v-if="nouveaux && nouveaux.length">
        <hr/>
        <h3>Nouveau</h3>
        <hr/>
        <ul>
            <div v-for="nouveau in nouveaux">
                <app-membre-ecole class="d-inline-block" v-bind:utilisateur="nouveau"></app-membre-ecole>
                <button class="btn btn-danger d-inline-block" v-if="user && (user.role.role == 'Venerable' || user.role.role == 'Sensei')" v-on:click="supprimer(nouveau.id)">
                    Expulser du dojo
                </button>
            </div>
        </ul>
    </div>
</div>
</body>
</html>