<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Création compte</title>

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/js/creerCompte.js"></script>

</head>
<body>
<canvas id="vidCanvas" class="d-none"></canvas>
<div class="vertical-center">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <form th:action="@{/monCompte}" th:method="put" th:object="${user}" enctype="utf-8" class="jumbotron col-11 col-sm-12 col-md-9 col-lg-7 col-xl-6">
                <div class="form-group text-center">
                    <h2 class="text-center">Gérer votre compte</h2>
                    <a href="/monCompte/supprimer" class="btn btn-danger">Supprimer le compte</a>
                </div>
                <hr/>
                <h4>Changer Avatar</h4>
                <div class="form-group d-flex justify-content-center">
                    <video id="uneVideo" class="profile profile-grand" autoplay width="200" height="150"></video>
                    <img id="uneImage" th:src="*{avatar}" class="profile profile-grand" src="/images/anonyme.jpg">
                </div>
                <div class="form-group d-flex justify-content-center">
                    <div class="btn-group">
                        <button id="btnImage" type="button"  class="btn btn-default">Choisir une image</button>
                        <button id="btnVideo" type="button" class="btn btn-default d-inline-flex align-items-baseline"><img class="icon" src="/open-iconic/svg/video.svg"></button>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label for="tbCourriel">Courriel:</label><br/>
                    <input readonly th:field="*{courriel}" id="tbCourriel" class="form-control" type="email"/>
                </div>
                <hr/>
                <h4>Changer Alias</h4>
                <div class="form-group">
                    <label for="tbAlias">Alias:</label><br/>
                    <input th:field="*{alias}" id="tbAlias" class="form-control" type="text"/>
                </div>
                <hr/>
                <h4>Changer Mot de passe</h4>
                <div class="form-group">
                    <label for="tbPassword">Ancien mot de passe:</label>
                    <input th:field="*{oldPassword}" id="tbPassword" class="form-control" type="password"/>
                </div>
                <div class="form-group">
                    <label for="tbPassword">Nouveau mot de passe:</label>
                    <input th:field="*{password}" id="tbNewPassword" class="form-control" type="password"/>
                </div>
                <div class="form-group">
                    <label for="tbConfirmPassword">Confirmation du nouveau mot de passe:</label>
                    <input th:field="*{matchingPassword}" id="tbConfirmPassword" class="form-control" type="password"/>
                </div>
                <div class="form-group d-flex justify-content-center align-items-baseline">
                    <button type="submit" class="btn btn-success">Appliquer les modifications</button>
                </div>
                <input th:field="*{avatar}" id="hidPic" type="hidden" name="profilePic"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>