<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Projet 1: Websocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link href="/css/main.css" rel="stylesheet">

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/umd/popper.min.js"></script>

    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <script src="/webjars/vue/vue.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script src="/js/VueComponents.js"></script>
    <script src="/js/kumite.js"></script>
    <script src="/js/WebSocketUtils.js"></script>
</head>
<body>
<div id="app">
    <app-nav v-bind:user="user" current-page="kumite"></app-nav>
    <div class="container-fluid">
        <div class="row justify-content-center chat-col mt-4">
            <div id="divArena" class="col-8 d-flex flex-column justify-content-center align-items-center">
                <app-controls class="row border"
                              v-on:debuter-match="debuterMatch"
                              v-on:attaque="attaque"
                              v-on:position="position"
                              v-on:saluer="saluer"
                              v-on:signaler="signaler"
                              v-if="user && user.roleCombat && user.roleCombat != 'SPECTATEUR' && user.roleCombat != 'COMBATTANT'"
                              v-bind:role="user.roleCombat"
                              v-bind:state="state">
                </app-controls>
                <div class="row justify-content-center">
                    Spectateurs:
                </div>
                <app-rangee v-on:move-to-child="role"
                            v-bind:initial-users="spectateurs"
                            v-bind:disabled="!dansLobby"
                            role="spectateur"></app-rangee>
                <div class="row justify-content-center">
                    Compétiteurs en attente:
                </div>
                <app-rangee v-on:move-to-child="role"
                            v-bind:initial-users="combattants"
                            v-bind:disabled="!dansLobby"
                            role="combattant"></app-rangee>
                <div class="row justify-content-center">
                    Surface de combat:
                </div>
                <div class="row justify-content-between">
                    <app-slot v-on:move-to="role"
                              v-bind:user="blanc"
                              v-bind:disabled="state == 'OVER'"
                              role="blanc"></app-slot>
                    <app-slot v-on:move-to="role"
                              v-bind:user="arbitre"
                              v-bind:disabled="!dansLobby"
                              role="arbitre"></app-slot>
                    <app-slot v-on:move-to="role"
                              v-bind:user="rouge"
                              v-bind:disabled="state == 'OVER'"
                              role="rouge"></app-slot>
                </div>
            </div>
            <div id="chat" class="border col-4 d-flex flex-column p-0">
                <h4 class="text-center border-bottom p-2">Messagerie</h4>
                <div id="messagerie" style="display: none;" class="row flex-grow-1 m-2 chat-text flex-column d-block">
                    <app-chat-message v-for="msg in messages" v-bind:message="msg"></app-chat-message>
                </div>
                <div id="msgAttente" class="row flex-grow-1 d-flex justify-content-center align-items-center">
                    En attente de la connexion...
                </div>
                <form id="frmMessage" class="form-inline border-top p-2">
                    <input disabled id="tbMessage" class="form-control mb-2 mr-sm-2 flex-grow-1" type="text" placeholder="Entrez votre message ici...(privé)" />
                    <button disabled id="btnEnvoyer" type="submit" class="btn btn-primary mb-2">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>