.vertical-center{
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.camera {
    width:15px;
}

.profile {
    border-radius: 50%;
}

.profile-grand {
    width: 150px;
    height: 150px;
    object-fit: cover;
}