.vertical-center{
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.icon {
    width:15px;
}

.icon-small{
    width: 5px
}

.profile {
    border-radius: 15%;
    object-fit: cover;
}

.profile-grand {
    width: 150px;
    height: 150px;
}

.profile-petit {
    width: 50px;
    height: 50px;
}

.slot {
    flex-grow: 1;
}

.slot img {
    margin: 15px 0;
    width:100%;
    height: auto;
    object-fit: cover;
    border-radius: 15%;
    border-style: solid !important;
    border-width: 5px !important;
}

.slot img:hover,
.slot img:focus{
    border-color: var(--success) !important;
}

.chat-col {
    height: 80vh;
}

.chat-window {
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: normal;
    word-wrap: break-word;
}

.dropdown-item:hover {
    background-color: inherit;
}

.navbar-brand {
    padding: 0;
}

.chat-text {
    flex-wrap: nowrap;
    overflow-y: scroll;
}

.chat-message {
    border-radius: 15px;
    padding: 0.5rem;
}

.self-chat {
    margin-left: 50px;
    flex-direction: row-reverse;
    background-color: var(--primary);
    color: var(--light);
}

.other-chat{
    margin-right: 50px;
    background-color: #a5aeb6;
}

.chat-robot {
    background-color: var(--success);
}

.chat-lobby {
    background-color: var(--info);
}